@{
    Layout = "_Dashboard";
    string ConferenceName = (string)ViewData["Conference"]!;
    ViewData["Logo"] = $"/images/{ConferenceName}ConferenceLogo.png";
    var PlayoffSections = new OrderedDictionary<string, string>()
    {
        {"top-division", ConferenceName.Equals("Western") ? "Central": "Atlantic"},
        {"bot-division", ConferenceName.Equals("Western") ? "Pacific": "Metropolitan"},
        {"wildcards", "Wildcards"}
    };
}

<div id="playoff-teams" class="standing-section-container">
    <div class="table-headers">
        <div class="standing-header-section"><!-- blank for spacing --></div>
        <div class="standing-section">
            <div class="standing-row">
                <div class="standing-number"><!-- blank for spacing --></div>
                <div class="team-div">
                    <div class="team-info"><!-- blank for spacing --></div>
                    <div class="games-played resize-text">GP</div>
                    <div class="points resize-text">PTS</div>
                </div>
            </div>
        </div>
    </div>
    <div class="standing-header-section">
        @foreach (var section in PlayoffSections)
        {
            <div class="@(section.Key)">
                <div class="standing-header resize-text">@(section.Value)</div>
            </div>
        }
    </div>
    <div class="standing-section">
        @foreach (var div in PlayoffSections.Keys)
        {
            int max = div != "wildcards" ? 3 : 2;
            <div id="@div" class="@div teams">
                @for (int i = 1; i <= max; i++)
                {
                    <div class="standing-row">
                        <div class="standing-number resize-text">@i</div>
                        <div id="@i" class="team-div">
                            <div class="team-info">
                                <img class="logo" />
                                <div class="clinch-indicator resize-text"></div>
                                <div class="name resize-text"></div>
                            </div>
                            <div class="games-played resize-text"></div>
                            <div class="points resize-text"></div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div id="outside-teams" class="standing-section-container">
    <div class="table-headers">
        <div class="standing-header-section"><!-- blank for spacing --></div>
        <div class="standing-section">
            <div class="standing-row">
                <div class="standing-number"><!-- blank for spacing --></div>
                <div class="team-div">
                    <div class="team-info"><!-- blank for spacing --></div>
                    <div class="games-played resize-text">GP</div>
                    <div class="points resize-text">PTS</div>
                </div>
            </div>
        </div>
    </div>
    <div class="standing-header-section">
        <div style="height: 100%; width: 100%;">
            <div class="standing-header resize-text">Wildcard Race</div>
        </div>
    </div>
    <div class="standing-section teams">
        @for (int i = 9; i <= 16; i++)
        {
            <div class="standing-row">
                <div class="standing-number resize-text">@i</div>
                <div id="@i" class="team-div">
                    <div class="team-info">
                        <img class="logo" />
                        <div class="clinch-indicator resize-text"></div>
                        <div class="name resize-text"></div>
                    </div>
                    <div class="games-played resize-text"></div>
                    <div class="points resize-text"></div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    const reloadData = async () => {
        await getData("@(PlayoffSections["top-division"])", "@(PlayoffSections["bot-division"])", "@ConferenceName");
        resizeText();
    };

    window.addEventListener("load", reloadData);
    window.addEventListener("resize", resizeText);
    setInterval(reloadData, 1800000);
</script>